<h1>Home page</h1>

placeholder

<%


response = HTTParty.get('https://mdms.owenscorning.com/api/v1/product/shingles?zip=43659')
body = JSON.parse(response.body)

puts body[0]["name"]


#body[0]["shingle_colors"].each do |key, array|
#  puts key["name"]
#  puts key["swatch_160x160_url"]
#end

colornames = body[0]['shingle_colors'].map{|item| item['name']}
swatches = body[0]['shingle_colors'].map{|item| item['swatch_160x160_url']}
heros = body[0]['shingle_colors'].map{|item| item['swatch_768x485_url']}



%>
<%= select("body[0]", "['uid']", body.map {|v| [ v['name'], v['uid'] ] }, {}, { :onChange =>'newline(this);' }) %>

<%= gallery_for(swatches, colornames) %>

<%= carousel_for(heros) %>

<%= body[0]["name"] %>
