<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Shingle mail, shingle mail shingles all the way. 
      Link inside this email to "roofen" up your day....
    </p>
  </body>
</html>
